<!DOCTYPE html>
<html lang="en">

<body>
<table>
    <tr>
        <td>Type</td>
        <td>Description</td>
    </tr>
    <tr>
        <td>Person</td>
        <td>People, Including fictional</td>
    </tr>
    <tr>
        <td>NORP</td>
        <td>Nationalities or religious or political group</td>
    </tr>
    <tr>
        <td>Facility</td>
        <td>Buildings, Airports, Highways, Bridges, etc</td>
    </tr>
    <tr>
        <td>ORG</td>
        <td>Companies, Agencies, Institutions, etc</td>
    </tr>
    <tr>
        <td>GPE</td>
        <td>Countries, Cities, states</td>
    </tr>
    <tr>
        <td>LOC</td>
        <td>NON GPE locations, mountain ranges, bodies of water</td>
    </tr>
    <tr>
        <td>Product</td>
        <td>Objects, Vehicles, foods, etc</td>
    </tr>
    <tr>
        <td>Event</td>
        <td>Named hurricanes, battles, wars, sports events, etc</td>
    </tr>
    <tr>
        <td>Work_of_Art</td>
        <td>Titles of Books, songs, etc</td>
    </tr>
    <tr>
        <td>Law</td>
        <td>Named documents made into laws</td>
    </tr>
    <tr>
        <td>Language</td>
        <td>Any named language</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>Absolute or relative dates or periods</td>
    </tr>
    <tr>
        <td>Time</td>
        <td>Times smaller than a day</td>
    </tr>
    <tr>
        <td>Percent</td>
        <td>Percentage, including '%'</td>
    </tr>
    <tr>
        <td>Money</td>
        <td>Monetary values, including unit</td>
    </tr>
    <tr>
        <td>Quantity</td>
        <td>Measurements, as of weight or distance</td>
    </tr>
    <tr>
        <td>Ordinal</td>
        <td>"first","second",etc</td>
    </tr>
    <tr>
        <td>Cardinal</td>
        <td>Numerals that do not fall under another type</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>

</table>

</body>
</html>